@charset "utf-8";
#wrap {
    background: none;
    background: #000;
}
/* Background Movie */
video {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
/* Ticket 링크 페이지 */
aside.ticket {
    /* 포지션 */
    position: absolute;
    right: 8px;
    top: 16px;
    z-index: 1;
    padding-right: 10px;
}
aside.ticket button {
    width: 120px;
    height: 40px;
    background-color: #b50602;
    font-family: 'Lato',sans-serif;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0.5px 0.5px 8px #000;
    cursor: pointer;

}

/* Contents */
#contents {
    padding: 0px;
    margin-bottom: 64px;
    margin-top: -300px;

}
#contents .videoback {
    font-family: 'Lato', sans-serif;
    font-size: 0.867rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    padding: 28px 60px;
}
#contents .videoback img {
    width: 100%;
}
#contents .videoback h3 {
    margin-bottom: 24px;
}


/* iframe {
    border: 1px solid #fff;
} */
